.bg-v-light {
  background: $gray-300;
}

.text-functional-red {
  color: $functional-red;
}

.text-functional-green {
  color: $functional-green;
}

.dropdown-toggle.table-header {
  padding-right: 0;
  color: $gray-400;
}

.dropdown-toggle.table-header::after {
  transform: translateY(-0.15rem);
}

.table-column-widest-possible {
  width: 99%;
}

.dropdown-toggle.table-header.active {
  color: black;
}

.table-thumbnail-image {
  width: 2rem;
  height: 2rem;
  border: 1px solid $gray-300;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.table .episode-list tr:last-child {
  border-bottom: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.25em;
  width: 1.25em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

input[type="search"].form-control-dark::-webkit-search-cancel-button {
  filter: invert(1);
}