<div class="modal fade" id="countryModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a country</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="pt-3">
          <label for="Continent" class="form-label">Continent</label>
          <select class="form-select" aria-label="Continent">
            <option selected>Choose a Continent</option>
          </select>          
        </div>
        <div class="pt-3">
          <label for="Country" class="form-label">Country</label>
          <select class="form-select" aria-label="Country" disabled>
            <option selected>Choose a country</option>
          </select>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onClick="parent.location='create_userlist_with_country.html'">Add country</button>
      </div>
    </div>
  </div>
</div>