<div class="modal fade" id="rssModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add RSS feed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">
          <label for="RSS-URL" class="form-label">RSS URL</label>
          <input type="text" class="form-control" id="RSS-URL">
        </div>
        <p class="mt-2"><strong>Metadata from this feed is used to pre-fill the form.</strong><br />The episode list will also automatically be generated.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onClick="location.href='create_podcast_with_rss.html'">Add RSS feed</button>
      </div>
    </div>
  </div>
</div>