<div class="modal fade" id="rssModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add RSS feed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="mt-3">
          <label for="RSS-URL" class="form-label">RSS URL</label>
          <input type="text" class="form-control" id="RSS-URL">
        </div>
        <p class="mt-2">Adding an RSS feed will update the metadata and the episode list automatically.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add RSS feed</button>
      </div>
    </div>
  </div>
</div>