<section class="container pt-4">
  <h1>Blocked countries</h1>
  <div class="row g-3">
    <ul class="list-unstyled d-flex gap-2 flex-wrap m-0 mt-3">
      <li>
        <span class="tag" id="labelTag1">
          [BF] Burkina Faso
          <button class="close" aria-labelledby="labelTag1">
            <span class="visually-hidden">Close</span>
          </button>
        </span>
      </li>
      <li>
        <span class="tag" id="labelTag2">
          [CI] Ivory Coast
          <button class="close" aria-labelledby="labelTag2">
            <span class="visually-hidden">Close</span>
          </button>
        </span>
      </li>
    </ul>
    <div class="col-md-6">
      <label for="Associated-Radio" class="form-label"
        >Add a country to block by IP address</label
      >
      <input
        class="form-control"
        list="datalistOptions"
        id="Blocked-Country"
        placeholder="Type to search..."
      />
      <datalist id="datalistOptions">
        <option value="AL">[AL] Albania</option>
        <option value="AD">[AD] Andorra</option>
        <option value="AT">[AT] Austria</option>
        <option value="BY">[BY] Belarus</option>
        <option value="BE">[BE] Belgium</option>
        <option value="BA">[BA] Bosnia and Herzegovina</option>
        <option value="BG">[BG] Bulgaria</option>
        <option value="HR">[HR] Croatia</option>
        <option value="CZ">[CZ] Czech Republic</option>
        <option value="DK">[DK] Denmark</option>
        <option value="EE">[EE] Estonia</option>
        <option value="FI">[FI] Finland</option>
        <option value="FR">[FR] France</option>
        <option value="DE">[DE] Germany</option>
        <option value="GR">[GR] Greece</option>
        <option value="HU">[HU] Hungary</option>
        <option value="IS">[IS] Iceland</option>
        <option value="IE">[IE] Ireland</option>
        <option value="IT">[IT] Italy</option>
        <option value="LV">[LV] Latvia</option>
        <option value="LI">[LI] Liechtenstein</option>
        <option value="LT">[LT] Lithuania</option>
        <option value="LU">[LU] Luxembourg</option>
        <option value="MK">[MK] Macedonia</option>
        <option value="MT">[MT] Malta</option>
        <option value="MD">[MD] Moldova</option>
        <option value="MC">[MC] Monaco</option>
        <option value="ME">[ME] Montenegro</option>
        <option value="NL">[NL] Netherlands</option>
        <option value="NO">[NO] Norway</option>
        <option value="PL">[PL] Poland</option>
        <option value="PT">[PT] Portugal</option>
        <option value="RO">[RO] Romania</option>
        <option value="RU">[RU] Russia</option>
        <option value="SM">[SM] San Marino</option>
        <option value="RS">[RS] Serbia</option>
        <option value="SK">[SK] Slovakia</option>
        <option value="SI">[SI] Slovenia</option>
        <option value="ES">[ES] Spain</option>
        <option value="SE">[SE] Sweden</option>
        <option value="CH">[CH] Switzerland</option>
        <option value="UA">[UA] Ukraine</option>
        <option value="GB">[GB] United Kingdom</option>
        <option value="DZ">[DZ] Algeria</option>
        <option value="AO">[AO] Angola</option>
        <option value="BJ">[BJ] Benin</option>
        <option value="BW">[BW] Botswana</option>
        <option value="BF">[BF] Burkina Faso</option>
        <option value="BI">[BI] Burundi</option>
        <option value="CM">[CM] Cameroon</option>
        <option value="CV">[CV] Cape Verde</option>
        <option value="CF">[CF] Central African Republic</option>
        <option value="TD">[TD] Chad</option>
        <option value="KM">[KM] Comoros</option>
        <option value="CG">[CG] Congo</option>
        <option value="CD">[CD] Democratic Republic of Congo</option>
        <option value="DJ">[DJ] Djibouti</option>
        <option value="EG">[EG] Egypt</option>
        <option value="GQ">[GQ] Equatorial Guinea</option>
        <option value="ER">[ER] Eritrea</option>
        <option value="SZ">[SZ] Eswatini</option>
        <option value="ET">[ET] Ethiopia</option>
        <option value="GA">[GA] Gabon</option>
        <option value="GM">[GM] Gambia</option>
        <option value="GH">[GH] Ghana</option>
        <option value="GN">[GN] Guinea</option>
        <option value="GW">[GW] Guinea-Bissau</option>
        <option value="CI">[CI] Ivory Coast</option>
        <option value="KE">[KE] Kenya</option>
        <option value="LS">[LS] Lesotho</option>
        <option value="LR">[LR] Liberia</option>
        <option value="LY">[LY] Libya</option>
        <option value="MG">[MG] Madagascar</option>
        <option value="MW">[MW] Malawi</option>
        <option value="ML">[ML] Mali</option>
        <option value="MR">[MR] Mauritania</option>
        <option value="MU">[MU] Mauritius</option>
        <option value="YT">[YT] Mayotte</option>
        <option value="MA">[MA] Morocco</option>
        <option value="MZ">[MZ] Mozambique</option>
        <option value="NA">[NA] Namibia</option>
        <option value="NE">[NE] Niger</option>
        <option value="NG">[NG] Nigeria</option>
        <option value="RE">[RE] Reunion</option>
        <option value="RW">[RW] Rwanda</option>
        <option value="ST">[ST] Sao Tome and Principe</option>
        <option value="SN">[SN] Senegal</option>
        <option value="SC">[SC] Seychelles</option>
        <option value="SL">[SL] Sierra Leone</option>
        <option value="SO">[SO] Somalia</option>
        <option value="ZA">[ZA] South Africa</option>
        <option value="SS">[SS] South Sudan</option>
        <option value="SD">[SD] Sudan</option>
        <option value="TZ">[TZ] Tanzania</option>
        <option value="TG">[TG] Togo</option>
        <option value="TN">[TN] Tunisia</option>
        <option value="UG">[UG] Uganda</option>
        <option value="ZM">[ZM] Zambia</option>
        <option value="ZW">[ZW] Zimbabwe</option>
      </datalist>

      <div class="form-text">
        Use the 2 character country code eg FR for France
      </div>
    </div>
  </div>
</section>
