<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sun",
  "start": "01:00",
  "end": "02:00",
  "name": "Les Essentiels de...",
  "desc": "cross",
  "modified": "13 Jan 2022"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Sun",
  "start": "02:00",
  "end": "03:00",
  "name": "L’heure du crime",
  "desc": "tick",
  "modified": "13 Jan 2022"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri, Sat, Sun",
  "start": "03:00",
  "end": "04:00",
  "name": "Les Grosses Têtes",
  "desc": "tick",
  "modified": "13 Jan 2022"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "04:30",
  "end": "07:00",
  "name": "RTL Petit Matin",
  "desc": "tick",
  "modified": "7 Jan 2022"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "07:00",
  "end": "09:00",
  "name": "RTL Matin",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat, Sun",
  "start": "07:00",
  "end": "10:00",
  "name": "RTL Week-end",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "09:30",
  "end": "11:00",
  "name": "Ca peut vous arriver",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat, Sun",
  "start": "10:00",
  "end": "11:30",
  "name": "Stop ou Encore",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "11:00",
  "end": "12:30",
  "name": "À la Bonne Heure !",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat, Sun",
  "start": "11:30",
  "end": "12:30",
  "name": "Allo Bouvard",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "11:30",
  "end": "12:30",
  "name": "RTL Midi",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat",
  "start": "12:30",
  "end": "13:30",
  "name": "Le Journal Inattendu",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sun",
  "start": "12:30",
  "end": "13:30",
  "name": "RTL Midi Week end",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "13:20",
  "end": "14:00",
  "name": "Les auditeurs ont la parole",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat, Sun",
  "start": "13:30",
  "end": "15:00",
  "name": "Ca ne manque pas d’airs",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "14:00",
  "end": "15:00",
  "name": "L’heure du crime",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "15:00",
  "end": "16:00",
  "name": "On est fait pour s’entendre",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat",
  "start": "15:00",
  "end": "16:00",
  "name": "Le Grand Studio RTL",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sun",
  "start": "15:00",
  "end": "16:00",
  "name": "Les Essentiels de...",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "16:00",
  "end": "18:00",
  "name": "Les Grosses Têtes",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sat",
  "start": "18:00",
  "end": "18:25",
  "name": "RTL Soir Week End",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Sun",
  "start": "18:00",
  "end": "18:30",
  "name": "RTL Soir Week End",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>
<include src="./components/epg_detail_table_row.html" locals='{
  "days": "Mon, Tue, Wed, Thu, Fri",
  "start": "18:00",
  "end": "19:15",
  "name": "RTL Soir",
  "desc": "tick",
  "modified": "12 Sep 2021"
}'></include>