<tr>
  <th class="text-nowrap" scope="col">
    Days<span class="dropdown-toggle table-header {{ selected === 'Days' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th class="text-center text-nowrap" scope="col">
    Start time<span class="dropdown-toggle table-header {{ selected === 'Start' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th class="text-center text-nowrap" scope="col">
    End time<span class="dropdown-toggle table-header {{ selected === 'End' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th class="table-column-widest-possible" scope="col">
    Name<span class="dropdown-toggle table-header {{ selected === 'Name' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th class="text-center text-nowrap" scope="col">
    Description<span class="dropdown-toggle table-header {{ selected === 'Description' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th class="text-nowrap" scope="col">
    Last modified<span class="dropdown-toggle table-header {{ selected === 'Last Modified' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span>
  </th>
  <th></th>
</tr>