
<include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_rtl.png",
  "name": "​RTL",
  "audience": "38",
  "modified": "13 Jan 2022"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "cross",
  "name": "Mov’em Radio",
  "audience": "24",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_phenixx.png",
  "name": "PHENIXX",
  "audience": "17",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_rtdea_radio_teledieu_est_amour.png",
  "name": "RTDEA / RADIO TELE-DIEU EST AMOUR",
  "audience": "13",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_movem_radio_12.png",
  "name": "Mov’em Radio",
  "audience": "10",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_best_of_nma.png",
  "name": "NRJ BEST OF NMA",
  "audience": "21",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_le_top_10_du_mardi_17_juillet.png",
  "name": "NRJ LE TOP 10 DU LUNDI 16 AOUT",
  "audience": "13",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_music_tour.png",
  "name": "NRJ MUSIC TOUR",
  "audience": "20",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj.png",
  "name": "NRJ",
  "audience": "59",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_insane_festival.png",
  "name": "NRJ INSANE FESTIVAL",
  "audience": "40",
  "modified": "17 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_vl_one.png",
  "name": "VL One",
  "audience": "20",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "cross",
  "name": "Steady Roll Radio | Hampton Roads Premier 24/7 Hip-Hop and R&B",
  "audience": "30",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_blouberg_fm_950mhz.png",
  "name": "Listen Live : Blouberg FM   95.0MHz",
  "audience": "10",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_amaqhawanentabafm.png",
  "name": "AMAQHAWANENTABA FM",
  "audience": "11",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "cross",
  "name": "ImpulsRadio Africa",
  "audience": "31",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "cross",
  "name": "Highway 61 Internet Radio",
  "audience": "41",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_wanted_radio.png",
  "name": "Wanted Radio",
  "audience": "16",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_bcg_radio.png",
  "name": "BCG Radio",
  "audience": "10",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_gfmlaradiocom.png",
  "name": "GFMLARADIO.COM",
  "audience": "19",
  "modified": "16 août 2021"
  }'></include>
  <include src="./components/epg_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_delit_radio.png",
  "name": "DELIT RADIO",
  "audience": "31",
  "modified": "16 août 2021"
  }'></include>
  