<main class="flex-grow-1">
  <section class="bg-dark border-top border-dark border-1">
    <div class="container pt-4 pb-1">
      <h1 id="top" class="display-2">Episode detail</h1>
    </div>
  </section>

  <section class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="pt-4 col d-flex justify-content-center justify-content-md-start">
        <div class="d-flex">
          <div class="me-4">
            <h6 class="fw-normal mb-1">Date Published</h6>
            <h4 class="mb-0">25 Jan 2022</h4>
          </div>
          <div class="me-4">
            <h6 class="fw-normal mb-1">Duration</h6>
            <h4 class="mb-0">39 min</h4>
          </div>
        </div>            
      </div>
      <div class="pt-4 col d-flex justify-content-center justify-content-md-end">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary"><include src="./icons/cross.html"></include>&nbsp;Delete</button>
        </div>            
      </div>
    </div>

    <div class="pt-4 row">
      <div class="col">
        <h1>474- The Punisher Skull</h1>
        <h4><a href="99% Invisible">99% Invisible</a></h4>
        <p>The Punisher has always been a complicated Marvel antihero: a man whose creator imagined him as a reaction to the failures of government at home and in the Vietnam War. So why is the Punisher’s trademark dripping skull insignia — a menacing image used throughout history to denote imminent death — being painted on police vehicles, adopted by members of the military, and donned by white supremacists?This episode of Endless Thread explores the story of The Punisher’s symbol as a meme, and looks at how well we understand its origins, its use today, and whether its creator — or Marvel — can take it back.</p>
        <div class="my-3">
          <span class="badge rounded-pill bg-light">comic books</span>
          <span class="badge rounded-pill bg-light">copyright</span>
          <span class="badge rounded-pill bg-light">marvel</span>
          <span class="badge rounded-pill bg-light">punisher</span>
          <span class="badge rounded-pill bg-light">police</span>
          <span class="badge rounded-pill bg-light">logo</span>
          <span class="badge rounded-pill bg-light">spider-man</span>
          <span class="badge rounded-pill bg-light">skull</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">
                ID
              </th>
              <th scope="col">
                Transport
              </th>
              <th class="table-column-widest-possible" scope="col">
                RSS Feed URL
              </th>
              <th scope="col">
                Bitrate
              </th>
              <th scope="col">
                Container
              </th>
              <th scope="col">
                Codec
              </th>
              <th scope="col">
                Channels
              </th>
              <th scope="col">
                Uptime
              </th>
              <th scope="col">
                History
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">
                16965878
              </td>
              <td scope="col">
                http
              </td>
              <td class="table-column-widest-possible text-break" scope="col">
                https://dts.podtrac.com/redirect.mp3/stitcher.simplecastaudio.com/3bb687b0-04af-4257-90f1-39eef4e631b6/episodes/c8c8ee28-8bd3-423d-8b22-6f0039b7a273/audio/128/default.mp3?aid=rss_feed&awCollectionId=3bb687b0-04af-4257-90f1-39eef4e631b6&awEpisodeId=c8c8ee28-8bd3-423d-8b22-6f0039b7a273&feed=BqbsxVfO
              </td>
              <td scope="col">
                128
              </td>
              <td scope="col">
                mp3
              </td>
              <td scope="col">
                mp3
              </td>
              <td scope="col">
                2
              </td>
              <td scope="col">
                100%
              </td>
              <td scope="col">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td scope="col" class="text-end">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary text-nowrap" onClick="parent.location='episode_detail_stream_modal.html'">Edit</button>
                  <button type="button" class="btn btn-secondary text-nowrap">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>