<tr>
  <td class="text-center" scope="col">
    {{ transport }}
  </td>
  <td class="table-column-widest-possible" scope="col">
    {{ url }}
  </td>
  <td class="text-center" scope="col">
    {{ bitrate }}
  </td>
  <td class="text-center" scope="col">
    {{ container }}
  </td>
  <td class="text-center" scope="col">
    {{ codec }}
  </td>
  <td class="text-center" scope="col">
    {{ channels }}
  </td>
  <td class="text-center fw-bold">
    <if condition="uptime > 80">
      <span class="text-functional-green">{{ uptime }}%</span>
    </if>
    <elseif condition="uptime > 50">
      <span class="text-functional-yellow">{{ uptime }}%</span>
    </elseif>
    <else>
      <span class="text-functional-red">{{ uptime }}%</span>
    </else>
  </td>
</tr>