<thead>
  <tr>
    <th scope="col">
      Transport
    </th>
    <th class="table-column-widest-possible" scope="col">
      URL
    </th>
    <th scope="col">
      Bitrate
    </th>
    <th scope="col">
      Container
    </th>
    <th scope="col">
      Codec
    </th>
    <th scope="col">
      Channels
    </th>
    <th scope="col">
      Uptime
    </th>
    <th scope="col">
      History
    </th>
    <th class="text-nowrap" scope="col">
      Last checked
    </th>
    <th></th>
  </tr>
</thead>