<tr class="{{ last }}">
  <td scope="col">
    {{ id }}
  </td>
  <td class="table-column-widest-possible" scope="col">
    {{ title }}
  </td>
  <td class="text-nowrap" scope="col">
    {{ published }}
  </td>
  <td scope="col">
    {{ duration }}
  </td>
  <td scope="col" class="text-end">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Edit</button>
      <button type="button" class="btn btn-secondary">Delete</button>
    </div>
  </td>
</tr>