<footer class="bd-footer py-3 py-md-4 bg-dark mt-auto">
  <div class="container py-1">
    <div class="row">
      <div class="col-6 col-lg-2 mb-1">
        <h5>Documentation</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white">User Guide</a></li>
          <li class="mb-2"><a href="/" class="text-white">API Documentation</a></li>
          <li class="mb-2"><a href="/" class="text-white">FastAir Integration</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-1">
        <h5>Other links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white">Website</a></li>
          <li class="mb-2"><a href="/" class="text-white">Android application</a></li>
          <li class="mb-2"><a href="/" class="text-white">iOS application</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-1">
        <h5>More information</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white">radio@orange.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="border border-dark border-1">
  <div class="container">
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a href="#" class="text-white text-decoration-none"><small><strong>© Orange 2021</strong></small></a></li>
      <li class="list-inline-item"><a href="#" class="text-white text-decoration-none"><small><strong>Terms & Conditions</strong></small></a></li>
      <li class="list-inline-item"><a href="#" class="text-white text-decoration-none"><small><strong>Privacy</strong></small></a></li>
      <li class="list-inline-item"><a href="#" class="text-white text-decoration-none"><small><strong>Accessibility statement</strong></small></a></li>
      <li class="list-inline-item"><a href="#" class="text-white text-decoration-none"><small><strong>Cookie policy</strong></small></a></li>
    </ul>
  </div>
</footer>