<div class="d-flex">
  <div class="bg-dark p-4">
    <img class="ratio ratio-1x1" src="http://images.radio.orange.com/{{type}}/large_{{imageName}}.png" alt="">
    <p class="pt-2 text-light">Large (256x256)</p>
    <img class="" src="http://images.radio.orange.com/{{type}}/medium_{{imageName}}.png" alt="">
    <p class="pt-2 text-light">Medium (128x128)</p>
    <img class="" src="http://images.radio.orange.com/{{type}}/small_{{imageName}}.png" alt="">
    <p class="pt-2 text-light">Small (64x64)</p>
  </div>
  <div class="border border-light border-1 p-4">
    <img class="ratio ratio-1x1" src="http://images.radio.orange.com/{{type}}/large_{{imageName}}.png" alt="">
    <p class="pt-2 text-muted">Large (256x256)</p>
    <img class="" src="http://images.radio.orange.com/{{type}}/medium_{{imageName}}.png" alt="">
    <p class="pt-2 text-muted">Medium (128x128)</p>
    <img class="" src="http://images.radio.orange.com/{{type}}/small_{{imageName}}.png" alt="">
    <p class="pt-2 text-muted">Small (64x64)</p>
  </div>
</div>