<div class="d-flex">
  <div class="bg-dark p-4">
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "ratio ratio-1x1",
        "type": "{{ type }}",
        "size": "large",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-light">Large (256x256)</p>
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "",
        "type": "{{ type }}",
        "size": "medium",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-light">Medium (128x128)</p>
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "",
        "type": "{{ type }}",
        "size": "small",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-light">Small (64x64)</p>
  </div>
  <div class="border border-light border-1 p-4">
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "ratio ratio-1x1",
        "type": "{{ type }}",
        "size": "large",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-muted">Large (256x256)</p>
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "",
        "type": "{{ type }}",
        "size": "medium",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-muted">Medium (128x128)</p>
    <include
      src="./components/cover_image.html"
      locals='{
        "class": "",
        "type": "{{ type }}",
        "size": "small",
        "imageName": "{{ imageName }}",
        "alt": ""
      }'
    ></include>
    <p class="pt-2 text-muted">Small (64x64)</p>
  </div>
</div>
