<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_bonjour_la_france_daphne_burki.png",
  "name": "On fait le tour de la question - Wendy Bouchard",
  "desc": "cross",
  "baseline": "tick",
  "status": "tick",
  "audience": "18",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_par-oui-dire.png",
  "name": "Par Ouï-dire",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e8a681e997bbe8a7a3e8afb4p.png",
  "name": "要闻解说",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e8a681e997bbe8a7a3e8afb4p.png",
  "name": "要闻解说",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_el-mati-de-catalunya-radio.png",
  "name": "El matí de Catalunya Ràdio",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "3",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_deutschlandfunk_dlf.png",
  "name": "Die Nachrichten - Deutschlandfunk",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "28",
  "modified": "4 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_linvite_dactu_france_bleu_paris.png",
  "name": "L’invité d’actu France Bleu Paris",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "4",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e4b8ade58d8ee4b896e7958cp.png",
  "name": "中华世界",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e4b8ade58d8ee4b896e7958cp.png",
  "name": "中华世界",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_la-dispute.png",
  "name": "La Grande table critique",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "126",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_informativo-de-andalucia.png",
  "name": "Andalucía Informativos",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "1",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_jazz_19.png",
  "name": "Via Jazz",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "1",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e8a681e997bbe58886e69e90p.png",
  "name": "要闻分析",
  "desc": "cross",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_httpcnrfifre4b893e6a08fe6a380e7b4a2e8a681e997bbe58886e69e90p.png",
  "name": "要闻分析",
  "desc": "cross",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_culture_medias_philippe_vandel.png",
  "name": "Culture médias - Philippe Vandel",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "86",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_le-journal-rtl.png",
  "name": "Le journal RTL",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "216",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_jazz.png",
  "name": "Via Jazz",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "3",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_sun_replay.png",
  "name": "SUN Replay",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_lenquete_de_secrets_dinfo.png",
  "name": "L’enquête de Secrets d’Info",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "13",
  "modified": "1 jan 2022"
  }'>
</include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/podcasts/large_la-transmissio-de-l-espanyol.png",
  "name": "La transmissió de l’Espanyol",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "1",
  "modified": "1 jan 2022"
  }'>
</include>