<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_les-grosses-tetes.png",
  "name": "Les Grosses Têtes",
  "modified": "12 Sep 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_europe_1_hondelatte_raconte.png",
  "name": "Hondelatte Raconte - Christophe Hondelatte",
  "modified": "30 Jan 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_rmc-l-afterfoot.png",
  "name": "L’After Foot",
  "modified": "12 Jan 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_affaires-sensibles.png",
  "name": "Affaires sensibles",
  "modified": "12 Mar 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_franck_ferrand_raconte.png",
  "name": "Franck Ferrand raconte...",
  "modified": "17 Mar 2020"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_l-heure-du-crime.png",
  "name": "L’heure du crime",
  "modified": "25 Sep 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_presidents.png",
  "name": "Presidents",
  "modified": "14 Apr 2021"
}'></include>