<tr>
  <th class="table-column-widest-possible" scope="col">
    <a class="text-nowrap text-decoration-none" href="#">Country<span class="dropdown-toggle table-header {{ selected === 'Name' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap text-decoration-none" href="#">Userlist<span class="dropdown-toggle table-header {{ selected === 'Userlist' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap text-decoration-none" href="#">Items<span class="dropdown-toggle table-header {{ selected === 'Items' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap text-decoration-none" href="#">Last Modified<span class="dropdown-toggle table-header {{ selected === 'Last Modified' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
</tr>