<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_forum.png",
  "name": "Forum en francais",
  "desc": "tick",
  "short": "tick",
  "status": "tick",
  "audience": "3278",
  "modified": "16 oct. 2020"
}'></include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_vibration_france.png",
  "name": "Vibration - France",
  "desc": "tick",
  "short": "tick",
  "status": "cross",
  "audience": "87",
  "modified": "29 sept. 2020"
}'></include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_chante_france.png",
  "name": "Chante France",
  "desc": "tick",
  "short": "tick",
  "status": "tick",
  "audience": "1298",
  "modified": "9 sept. 2020"
}'></include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_wit_fm.png",
  "name": "Wit en francais",
  "desc": "tick",
  "short": "tick",
  "status": "tick",
  "audience": "4598",
  "modified": "7 mai 2020"
}'></include>
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_vibration_en_francais.png",
  "name": "Vibration en francais",
  "desc": "tick",
  "short": "cross",
  "status": "tick",
  "audience": "1209",
  "modified": "7 mai 2020"
}'></include>