<tr>
  <th scope="col">
    <a class="text-nowrap" href="#">Image<span class="dropdown-toggle table-header {{ selected === 'Image' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th class="table-column-widest-possible" scope="col">
    <a class="text-nowrap" href="#">Name<span class="dropdown-toggle table-header {{ selected === 'Name' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap" href="#">Description<span class="dropdown-toggle table-header {{ selected === 'Description' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap" href="#">Baseline<span class="dropdown-toggle table-header {{ selected === 'Baseline' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap" href="#">Status<span class="dropdown-toggle table-header {{ selected === 'Status' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap" href="#">Audience<span class="dropdown-toggle table-header {{ selected === 'Audience' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
  <th scope="col">
    <a class="text-nowrap" href="#">Last Modified<span class="dropdown-toggle table-header {{ selected === 'Last Modified' ? 'active' : '' }}" href="#" role="button" aria-expanded="false"></span></a>
  </th>
</tr>