<include src="./components/radio_selection_table_row.html" locals='{
  "name": "United Kingdom​",
  "countryCode": "gb",
  "items": 10,
  "order": 0,
  "modified": "17 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Belgium​",
  "countryCode": "be",
  "items": 19,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Morocco",
  "countryCode": "ma",
  "items": 26,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Tunisia",
  "countryCode": "tn",
  "items": 18,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Algeria",
  "countryCode": "dz",
  "items": 10,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Portugal",
  "countryCode": "pt",
  "items": 19,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Guinea-Bissau",
  "countryCode": "gw",
  "items": 29,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Italy",
  "countryCode": "it",
  "items": 21,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Spain",
  "countryCode": "es",
  "items": 25,
  "order": 0,
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Madagascar",
  "countryCode": "mg",
  "items": 18,
  "order": 0,
  "modified": "19 Nov 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Central African Republic",
  "countryCode": "cf",
  "items": 15,
  "order": 0,
  "modified": "9 Jul 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Guinea",
  "countryCode": "gn",
  "items": 24,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Cote D’Ivoire",
  "countryCode": "ci",
  "items": 19,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Mali",
  "countryCode": "ml",
  "items": 28,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Mauritius",
  "countryCode": "mu",
  "items": 26,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Reunion",
  "countryCode": "re",
  "items": 15,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Senegal",
  "countryCode": "sn",
  "items": 23,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Egypt",
  "countryCode": "eg",
  "items": 25,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Republic of the Congo",
  "countryCode": "cg",
  "items": 29,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>
<include src="./components/radio_selection_table_row.html" locals='{
  "name": "Cameroon",
  "countryCode": "cm",
  "items": 24,
  "order": 0,
  "modified": "11 Jun 2021"
  }'>
</include>