
<include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_la_poderosa_360.png",
  "name": "La Poderosa 360 ​",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "17 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "cross",
  "name": "Mov’em Radio",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "2",
  "modified": "17 août 2021",
  "uptime": 94
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_phenixx.png",
  "name": "PHENIXX",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "17 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_rtdea_radio_teledieu_est_amour.png",
  "name": "RTDEA / RADIO TELE-DIEU EST AMOUR",
  "desc": "tick",
  "baseline": "cross",
  "status": "cross",
  "audience": "1",
  "modified": "17 août 2021",
  "uptime": 0
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_movem_radio_12.png",
  "name": "Mov’em Radio",
  "desc": "tick",
  "baseline": "cross",
  "status": "cross",
  "audience": "0",
  "modified": "17 août 2021",
  "uptime": 18
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_best_of_nma.png",
  "name": "NRJ BEST OF NMA",
  "desc": "cross",
  "baseline": "tick",
  "status": "tick",
  "audience": "1",
  "modified": "17 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_le_top_10_du_mardi_17_juillet.png",
  "name": "NRJ LE TOP 10 DU LUNDI 16 AOUT",
  "desc": "cross",
  "baseline": "tick",
  "status": "tick",
  "audience": "1",
  "modified": "17 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_music_tour.png",
  "name": "NRJ MUSIC TOUR",
  "desc": "cross",
  "baseline": "tick",
  "status": "tick",
  "audience": "0",
  "modified": "17 août 2021",
  "uptime": 85
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj.png",
  "name": "NRJ",
  "desc": "tick",
  "baseline": "tick",
  "status": "tick",
  "audience": "5079",
  "modified": "17 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_nrj_insane_festival.png",
  "name": "NRJ INSANE FESTIVAL",
  "desc": "cross",
  "baseline": "tick",
  "status": "cross",
  "audience": "0",
  "modified": "17 août 2021",
  "uptime": 0
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_vl_one.png",
  "name": "VL One",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "16 août 2021",
  "uptime": 67
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "cross",
  "name": "Steady Roll Radio | Hampton Roads Premier 24/7 Hip-Hop and R&B",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_blouberg_fm_950mhz.png",
  "name": "Listen Live : Blouberg FM   95.0MHz",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_amaqhawanentabafm.png",
  "name": "AMAQHAWANENTABA FM",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 55
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "cross",
  "name": "ImpulsRadio Africa",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "cross",
  "name": "Highway 61 Internet Radio",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_wanted_radio.png",
  "name": "Wanted Radio",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_bcg_radio.png",
  "name": "BCG Radio",
  "desc": "tick",
  "baseline": "cross",
  "status": "tick",
  "audience": "0",
  "modified": "16 août 2021",
  "uptime": 100
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_gfmlaradiocom.png",
  "name": "GFMLARADIO.COM",
  "desc": "tick",
  "baseline": "cross",
  "status": "cross",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 0
  }'></include>
  <include src="./components/radio_table_row.html" locals='{
  "image": "http://images.radio.orange.com/radios/large_delit_radio.png",
  "name": "DELIT RADIO",
  "desc": "tick",
  "baseline": "cross",
  "status": "cross",
  "audience": "1",
  "modified": "16 août 2021",
  "uptime": 12
  }'></include>
  