<tr>
  <th scope="row">{{ id }}</th>
  <td>
    <img class="table-thumbnail-image" src="{{ image }}" alt="{{ name }} image">
  </td>
  <td>{{ name }}</td>
  <td>
    <if condition="desc === 'tick'">
      <include src="./icons/tick.html"></include>
    </if>
    <if condition="desc === 'cross'">
      <include src="./icons/cross.html"></include>
    </if>    
  </td>
  <td>
    <if condition="short === 'tick'">
      <include src="./icons/tick.html"></include>
    </if>
    <if condition="short === 'cross'">
      <include src="./icons/cross.html"></include>
    </if> 
  </td>
  <td>
    <if condition="status === 'tick'">
      <include src="./icons/tick.html"></include>
    </if>
    <if condition="status === 'cross'">
      <include src="./icons/cross.html"></include>
    </if> 
  </td>
  <td>{{ audience }}</td>
  <td>{{ modified }}</td>
</tr>