<tr>
  <td class="text-center">
    <if condition="image === 'cross'">
      <include src="./icons/cross.html" locals='{"color": "text-functional-red"}'></include>
    </if>
    <if condition="image !== 'cross'">
      <img class="table-thumbnail-image" src="{{ image }}" alt="{{ name }} image">
    </if>
  </td>
  <td class="">{{ name }}</td>
  <td class="text-center">
    <if condition="typeof country !== 'undefined'">
      {{ country }}
    </if> 
  </td>
  <td class="text-center">{{ items }}</td>
  <td class="text-center">{{ order }}</td>
  <td class="text-center">{{ modified }}</td>
</tr>