<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_rtl2.png",
  "name": "RTL2",
  "modified": "12 Sep 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_les-grosses-tetes.png",
  "name": "Les Grosses Têtes",
  "modified": "12 Sep 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_europe_1_hondelatte_raconte.png",
  "name": "Hondelatte Raconte - Christophe Hondelatte",
  "modified": "30 Jan 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_fip.png",
  "name": "FIP",
  "modified": "12 Mar 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_radio_nova.png",
  "name": "Radio Nova",
  "modified": "17 Mar 2020"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Podcast",
  "image": "http://images.radio.orange.com/podcasts/large_l-heure-du-crime.png",
  "name": "L’heure du crime",
  "modified": "25 Sep 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_jazz_radio.png",
  "name": "Jazz radio",
  "modified": "17 Jul 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_nostalgie_blues.png",
  "name": "NOSTALGIE BLUES",
  "modified": "20 Nov 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_chante_france.png",
  "name": "Chante france",
  "modified": "25 Sep 2021"
}'></include>