<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_rtl2.png",
  "name": "RTL2",
  "modified": "12 Sep 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_nostalgie.png",
  "name": "NOSTALGIE",
  "modified": "30 Jan 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_cherie_fm.png",
  "name": "CHERIE FM",
  "modified": "12 Jan 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_fip.png",
  "name": "FIP",
  "modified": "12 Mar 2019"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_radio_nova.png",
  "name": "Radio Nova",
  "modified": "17 Mar 2020"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_radio_classique.png",
  "name": "Radio Classique",
  "modified": "25 Sep 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_france_musique.png",
  "name": "France Musique",
  "modified": "14 Apr 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_jazz_radio.png",
  "name": "Jazz radio",
  "modified": "17 Jul 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_nostalgie_blues.png",
  "name": "NOSTALGIE BLUES",
  "modified": "20 Nov 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_chante_france.png",
  "name": "Chante france",
  "modified": "25 Sep 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_cherie_fm_jazzy.png",
  "name": "CHERIE JAZZY",
  "modified": "25 Sep 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_radio_mozart.png",
  "name": "Radio Mozart",
  "modified": "17 Nov 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_oui_fm_blues.png",
  "name": "Oui fm blues’n’rock",
  "modified": "5 Oct 2020"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_hq-sound_classic.png",
  "name": "A back taste of HQ Sound Classic",
  "modified": "14 Jun 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_all_piano_radio.png",
  "name": "All Piano Radio",
  "modified": "11 Nov 2021"
}'></include>
<include src="./components/userlist_detail_table_row.html" locals='{
  "type": "Radio",
  "image": "http://images.radio.orange.com/radios/large_classicalways.png",
  "name": "classicalways",
  "modified": "9 Jun 2021"
}'></include>