<tr>
  <td class="move-item"><include src="./icons/move.html" locals='{"color": "text-v-muted"}'></include></td>
  <td class="text-center">
    <if condition="image === 'cross'">
      <include src="./icons/cross.html" locals='{"color": "text-functional-red"}'></include>
    </if>
    <if condition="image !== 'cross'">
      <img class="table-thumbnail-image" src="{{ image }}" alt="{{ name }} image">
    </if>
  </td>
  <td class=""><a href="userlist_detail.html">{{ name }}</a></td>
  <td class="text-center">{{ items }}</td>
  <td class="text-center">{{ modified }}</td>
</tr>