<include src="./components/userlist_egypt_table_row.html" locals='{
  "image": "http://images.radio.orange.com/userlists/editorial_large_test_1239.png",
  "name": "test",
  "items": 5,
  "order": 1,
  "modified": "14 Dec 2020",
  "country": "Egypt"
  }'>
</include>
<include src="./components/userlist_egypt_table_row.html" locals='{
  "image": "http://images.radio.orange.com/userlists/editorial_large_test_1239.png",
  "name": "Other test",
  "items": 5,
  "order": 1,
  "modified": "4 Jan 2021",
  "country": "Egypt"
  }'>
</include>