<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "TOP Radios Afrikaans​",
  "items": 13,
  "order": "0",
  "modified": "15 Mar 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-varietejazzclassique​",
  "items": 22,
  "order": "0",
  "modified": "17 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-musiquesdumonde-newtv​",
  "items": 15,
  "order": "0",
  "modified": "10 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-musiquesdumonde",
  "items": 19,
  "order": "0",
  "modified": "10 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-raprnb-newtv",
  "items": 12,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-raprnb",
  "items": 14,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-varietejazzclassique-newtv",
  "items": 19,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-poprockelectro-newtv",
  "items": 12,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-poprockelectro",
  "items": 17,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-infostalksport",
  "items": 13,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "TOP Radios Arabic",
  "items": 17,
  "order": "0",
  "modified": "8 Feb 2022"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "Chris",
  "items": 5,
  "order": "0",
  "modified": "9 Aug 2021"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "http://images.radio.orange.com/userlists/editorial_large_test_1239.png",
  "name": "test",
  "items": 5,
  "order": 1,
  "modified": "14 Dec 2020",
  "country": "Egypt"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "klif",
  "items": 7,
  "order": 0,
  "modified": "21 Jan 2020"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "orangeradio-tv-infostalksport-newtv",
  "items": 11,
  "order": 0,
  "modified": "21 Jan 2020"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "leswitchradio",
  "items": 18,
  "order": 0,
  "modified": "11 May 2018"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "testmichael",
  "items": 1,
  "order": 0,
  "modified": "24 Mar 2017"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "TOP Radios Japanese",
  "items": 0,
  "order": "0",
  "modified": "2 Sep 2016"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "TOP Radios Hindi",
  "items": 0,
  "order": "0",
  "modified": "14 Jun 2016"
  }'>
</include>
<include src="./components/userlist_table_row.html" locals='{
  "image": "cross",
  "name": "TOP Radios French",
  "items": 0,
  "order": "0",
  "modified": "10 Jun 2016"
  }'>
</include>
